env/
.vscode/
**/__pycache__/**
**/*.pyc

# Ignore all possible Keys, except test ones.
**/*.pem
**/*.pub
!**/server_test_keys*
!**/client_test_keys*

# Don't ignore keys inside the 'keys' folder
!keys/*
